@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  p {
    font-family: 'Georgia', serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: 2rem;
  }

  a {
    color: #6366f1;
  }

  body {
    background-color: #f8fafc;
  }
}
